body {
  font-family: $fontMain;
  background-color: $colorWhite;
  color: $colorBlack;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  font-variant-ligatures: none;

  @include responsive1649 {
    font-size: 16px;
    line-height: 24px;
  }

  @include responsive1439 {
    font-size: 14px;
    line-height: 20px;
  }

  &.modal-open,
  &.hidden {
    overflow: hidden;
  }

  &.isOpenMenu {
    overflow: hidden;

    .header {
      z-index: 15;
    }
  }

  &.index-page {
  }
}

.container {
  width: 100%;
  max-width: 1640px;
  padding: 0 10px;
  margin: 0 auto;

  @include responsive1649 {
    max-width: 1400px;
  }

  @include responsive1439 {
    max-width: 1200px;
  }
}

label,
textarea,
input {
  font-family: $fontMain;
}

div {
  // scrollbar-color: rgba(255, 255, 255, 0.33) transparent;
  // scrollbar-width: thin;

  // &::-webkit-scrollbar {
  //   width: 5px;
  //   background-color: transparent;
  //   left: 5px;
  // }

  // &::-webkit-scrollbar-thumb {
  //   width: 5px;
  //   background-color: rgba(255, 255, 255, 0.33);
  //   border-radius: 10px;
  // }
}

.site-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100vh;
  width: 100%;
  // overflow: hidden;

  footer,
  .footer {
    margin-top: auto;
  }
}

.main {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: 151px;

  @include responsive1649 {
    padding-top: 141px;
  }

  @include responsive767 {
    padding-top: 171px;
  }

  @include responsive479 {
    padding-top: 201px;
  }
}

picture {
  position: relative;
  display: block;

  img {
    position: relative;
  }
}

.picture-block {
  position: relative;

  picture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

section {
  padding: 70px 0;

  @include responsive1549 {
    padding: 50px 0;
  }

  @include responsive1199 {
    padding: 30px 0;
  }

  @include responsive767 {
  }
}

.selectric-wrapper {
  border: 0;
  outline: none;
  height: 50px;

  &.selectric-hover {
    .selectric {
      border-color: $colorBlack;
    }
  }

  &.selectric-open {
    .selectric {
      border-color: $colorBlack;

      .button {
        transform: scale(1, -1);
      }
    }
  }

  &.selectric-above {
    .selectric-items {
      border: solid 1px $colorBlack;
    }

    .selectric-scroll ul {
    }
  }

  @include responsive1549 {
    height: 30px;
  }
}

.selectric {
  border: 0;
  background: transparent;
  width: 100%;
  height: 50px;
  width: 100%;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;

  @include responsive1549 {
    height: 30px;
  }

  .label {
    font-weight: 400;
    height: 100%;
    padding: 10px 0;
    font-weight: 400;
    font-family: $fontMain;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0%;
    margin: 0;
    color: $colorBlack;
    border-bottom: solid 1px rgba(159, 159, 159, 1);

    @include responsive1549 {
      padding: 0;
      font-size: 12px;
    }
  }

  .button {
    display: none;
    width: 24px;
    height: 24px;
    background: transparent;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='15' height='8' viewBox='0 0 15 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1.5 1L7.5 7L13.5 1' stroke='%23222222' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 12px;
    transition: all 0.3s;
    top: 50%;
    right: 24px;
    margin-top: -12px;

    &::after {
      display: none;
    }
  }
}

.selectric-items {
  background: transparent;
  background-color: $colorWhite;
  border: 0;
  border-bottom-right-radius: 9px;
  border-bottom-left-radius: 9px;
  box-shadow: 0px 6px 15px 0px rgba(98, 97, 97, 0.25);
  border-top: 0;
  overflow: hidden;
  z-index: -1;
  min-width: 140px;
  right: 0;
  left: auto;
}

.selectric-scroll {
  border: 0;

  ul {
    padding-top: 5px;

    li {
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      color: #7b7b7b;
      padding: 8px;
      transition: all 0.3s;

      &.highlighted,
      &.selected {
        background: transparent !important;
        text-decoration: underline;
        color: $colorBlack;
      }

      &:hover {
        background: transparent !important;
        color: $colorBlack;
      }
    }
  }
}

.selectric-open {
  z-index: 4;
}

.swiper-pagination-bullets {
  bottom: 0 !important;
  top: auto !important;
  left: 0;
  width: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  z-index: 5;

  .swiper-pagination-bullet {
    width: 16px;
    height: 1px;
    opacity: 1;
    border-radius: 0;
    margin: 0 !important;
    flex: 1;
    position: relative;
    transition: all 0.3s;
    background-color: rgba(15, 15, 15, 0.2);
  }

  .swiper-pagination-bullet-active {
    background-color: $colorBlack;
  }
}

.swiper-controls {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 15px;

  .btnSwiperPrev,
  .btnSwiperNext {
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
    transform: initial;
  }
}

.swiper-controls-simple {
  @include responsive1799 {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 15px;

    .btnSwiperPrev,
    .btnSwiperNext {
      position: relative;
      top: auto;
      right: auto;
      left: auto;
      bottom: auto;
      transform: initial;
    }
  }
}

.btnSwiperPrev {
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: -57px;
  right: auto;
  margin: 0;
  width: 39px;
  height: 39px;
  min-width: 39px;
  transition: all 0.3s;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='11' height='9' viewBox='0 0 11 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0.271446 4.14645C0.0761843 4.34171 0.0761843 4.65829 0.271446 4.85355L3.45343 8.03553C3.64869 8.2308 3.96527 8.2308 4.16053 8.03553C4.3558 7.84027 4.3558 7.52369 4.16053 7.32843L1.33211 4.5L4.16053 1.67157C4.3558 1.47631 4.3558 1.15973 4.16053 0.964466C3.96527 0.769204 3.64869 0.769204 3.45343 0.964466L0.271446 4.14645ZM10.375 4.5V4L0.625 4V4.5V5L10.375 5V4.5Z' fill='white'/%3e%3c/svg%3e ");
  background-color: $colorBlack;
  background-size: 12px;
  border-radius: 24px;
  transform: translateY(-50%);

  @include hover {
    background-color: $colorRed;
  }

  &.swiper-button-disabled {
    opacity: 0.33;
    pointer-events: none;
  }
}

.btnSwiperNext {
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: auto;
  right: -57px;
  margin: 0;
  width: 39px;
  height: 39px;
  min-width: 39px;
  transition: all 0.3s;
  background-size: 12px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='11' height='9' viewBox='0 0 11 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M10.7286 4.14645C10.9238 4.34171 10.9238 4.65829 10.7286 4.85355L7.54657 8.03553C7.35131 8.2308 7.03473 8.2308 6.83947 8.03553C6.6442 7.84027 6.6442 7.52369 6.83947 7.32843L9.66789 4.5L6.83947 1.67157C6.6442 1.47631 6.6442 1.15973 6.83947 0.964466C7.03473 0.769204 7.35131 0.769204 7.54657 0.964466L10.7286 4.14645ZM0.625 4.5L0.625 4L10.375 4V4.5V5L0.625 5L0.625 4.5Z' fill='white'/%3e%3c/svg%3e ");
  background-color: $colorBlack;
  border-radius: 24px;
  transform: translateY(-50%);

  @include hover {
    background-color: $colorRed;
  }

  &.swiper-button-disabled {
    opacity: 0.33;
    pointer-events: none;
  }
}

.slider-wrapper {
  width: 100%;
  position: relative;
}

.input-item {
  width: 100%;

  input {
    width: 100%;
    height: 65px;
    border: 0;
    background-color: transparent;
    border-bottom: solid 1px $colorWhite;
    border-radius: 0;
    font-size: 24px;
    padding: 0;
    color: $colorWhite;

    @include responsive1023 {
      font-size: 20px;
    }

    @include responsive767 {
      height: 45px;
    }

    &::placeholder {
      text-transform: uppercase;
      opacity: 0.6;
    }
  }

  textarea {
    width: 100%;
    height: 112px;
    background-color: $colorWhite;
    border-radius: 9px;
    border: 0;
    padding: 12px 16px;
  }
}

.check-block {
  input {
    display: none;

    &:checked + label {
      &:before {
        background-color: $colorBlack;
      }

      &::after {
        background-color: $colorBlack;
        opacity: 1;
      }
    }
  }

  label {
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    position: relative;
    padding-left: 24px;
    text-decoration-color: transparent;
    text-decoration-skip-ink: none;
    text-underline-offset: 1px;
    text-decoration-thickness: 1px;
    display: block;
    align-items: center;
    gap: 8px;
    padding-left: 70px;
    color: $colorWhite;

    @include responsive1549 {
      font-size: 14px;
      line-height: 17px;
      padding-left: 65px;
    }

    @include responsive1023 {
      padding-left: 50px;
    }

    a {
      text-decoration: underline;
      opacity: 0.3;
      transition: opacity 0.3s;

      &:hover {
        opacity: 1;
      }
    }

    @include before {
      left: 0;
      top: 50%;
      width: 48px;
      height: 48px;
      border: 0;
      border-radius: 4px;
      overflow: hidden;
      transform: translateY(-50%);
      background-color: $colorWhite;

      @include responsive1549 {
        width: 42px;
        height: 42px;
      }

      @include responsive1023 {
        width: 38px;
        height: 38px;
      }
    }

    @include after {
      background-color: $colorWhite;
      left: 0;
      top: 50%;
      width: 48px;
      height: 48px;
      opacity: 0;
      border-radius: 4px;
      overflow: hidden;
      transform: translateY(-50%);
      background-position: center;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='35' height='25' viewBox='0 0 35 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1.5 9.5L13.8077 22L33.5 2' stroke='%23EDEADF' stroke-width='4'/%3e%3c/svg%3e ");
      background-repeat: no-repeat;

      @include responsive1549 {
        width: 42px;
        height: 42px;
        background-size: 24px;
      }

      @include responsive1023 {
        width: 38px;
        height: 38px;
        background-size: 50%;
      }
    }
  }
}

.radio-block {
  position: relative;

  input {
    display: none;
  }

  label {
    font-weight: 400;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    min-height: 27px;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    display: block;
    gap: 3px;

    @include responsive479 {
      line-height: 20px;
    }

    @include before {
      left: 0;
      top: 0;
      width: 27px;
      height: 27px;
      border-radius: 50%;
      border: solid 1px $colorWhite;

      @include responsive479 {
        top: -2px;
      }
    }

    @include after {
      left: 7px;
      top: 7px;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      background-color: $colorWhite;
      opacity: 0;

      @include responsive479 {
        top: 5px;
      }
    }

    @include responsive1549 {
      font-size: 12px;
    }

    a {
      text-decoration: underline;
      transition: text-decoration 0.3s;

      @include hover {
        text-decoration-color: transparent;
      }
    }
  }

  input {
    &:checked {
      & + ::after {
        opacity: 1;
      }
    }
  }
}

.play {
  cursor: pointer;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='45' height='50' viewBox='0 0 45 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M41.0625 19.8399C45.0347 22.1333 45.0347 27.8667 41.0625 30.1601L9.43749 48.4188C5.46527 50.7121 0.499998 47.8454 0.499998 43.2587L0.499999 6.74129C0.5 2.15456 5.46528 -0.712135 9.4375 1.58123L41.0625 19.8399Z' fill='%23FA4F19'/%3e%3c/svg%3e ");
  background-position: calc(50% + 5px) center;
  background-repeat: no-repeat;
  width: 66px;
  height: 66px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  z-index: 5;
}

.pagination {
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 33px;
  gap: 33px;

  @include responsive1199 {
    margin-top: 20px;
    gap: 30px;
  }

  .pagination__more {
    position: relative;
    z-index: 2;
    background-color: $colorGrayLight;

    @include after {
      width: calc(100% + 2px);
      height: calc(100% + 2px);
      top: -1px;
      left: -1px;
      background: linear-gradient(107.23deg, #4385ff 8.68%, #132e61 94.02%);
      opacity: 0;
      z-index: -1;
      pointer-events: none;
      border-radius: 20px;
      transition: all 0.3s;
    }

    @include hover {
      border-color: transparent;
      background-color: transparent;
      color: $colorWhite;

      &:after {
        opacity: 1;
      }
    }
  }

  .pagination__list {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .pagination__item {
  }

  .pagination__link {
    @include responsive639 {
      font-size: 16px;
    }

    &.active {
      color: $colorBlue;
      font-size: 25px;
      font-weight: 700;
    }
  }

  a.pagination__link {
    cursor: pointer;

    @include hover {
      color: $colorBlue;
    }
  }

  .pagination__link--prev {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
    border-radius: 50%;
    position: relative;
    width: 39px;
    height: 39px;
    margin-right: 30px;
    background-color: $colorBlack;

    @include hover {
      background-color: $colorBlue;
    }

    @include before {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='11' height='9' viewBox='0 0 11 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0.271446 4.14645C0.0761843 4.34171 0.0761843 4.65829 0.271446 4.85355L3.45343 8.03553C3.64869 8.2308 3.96527 8.2308 4.16053 8.03553C4.3558 7.84027 4.3558 7.52369 4.16053 7.32843L1.33211 4.5L4.16053 1.67157C4.3558 1.47631 4.3558 1.15973 4.16053 0.964466C3.96527 0.769204 3.64869 0.769204 3.45343 0.964466L0.271446 4.14645ZM10.375 4.5V4L0.625 4V4.5V5L10.375 5V4.5Z' fill='white'/%3e%3c/svg%3e ");
    }
  }

  .pagination__link--next {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
    border-radius: 50%;
    position: relative;
    width: 39px;
    height: 39px;
    background-color: $colorBlack;
    margin-left: 30px;

    @include hover {
      background-color: $colorBlue;
    }

    @include before {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='11' height='9' viewBox='0 0 11 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M10.7286 4.14645C10.9238 4.34171 10.9238 4.65829 10.7286 4.85355L7.54657 8.03553C7.35131 8.2308 7.03473 8.2308 6.83947 8.03553C6.6442 7.84027 6.6442 7.52369 6.83947 7.32843L9.66789 4.5L6.83947 1.67157C6.6442 1.47631 6.6442 1.15973 6.83947 0.964466C7.03473 0.769204 7.35131 0.769204 7.54657 0.964466L10.7286 4.14645ZM0.625 4.5L0.625 4L10.375 4V4.5V5L0.625 5L0.625 4.5Z' fill='white'/%3e%3c/svg%3e ");
    }
  }
}

.overlay {
  background-color: $colorBlack-a5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;

  &.visible {
    pointer-events: initial;
    opacity: 0.9;
  }
}

.section-title {
  display: flex;
  flex-direction: column;
  gap: 11px;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  padding-right: 300px;
  position: relative;

  @include responsive1023 {
    padding-right: 0;
  }

  @include responsive767 {
    font-size: 16px;
    line-height: 24px;
  }

  .caption {
    text-transform: uppercase;
  }

  p {
    max-width: 555px;
    color: $colorGrayDark;
  }

  .btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 260px;

    @include responsive1023 {
      position: relative;
    }
  }

  .section-title__list {
    display: flex;
    align-items: center;
    gap: 9px;
    margin-top: 30px;

    @include responsive479 {
      flex-direction: column;
      width: 100%;
      margin-top: 0;
    }

    li {
      @include responsive479 {
        width: 100%;
      }
    }

    .btn {
      position: relative;
      text-transform: uppercase;
      width: auto;
      padding-left: 50px;
      padding-right: 50px;

      @include responsive479 {
        max-width: 100%;
        width: 100%;
      }

      &.active {
        color: $colorWhite;
        border-color: transparent;

        &::before {
          opacity: 1;
        }
      }
    }
  }
}

.hot {
  position: relative;
  width: 69px;
  height: 60px;
  border-radius: 15px;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  z-index: 3;

  @include responsive1199 {
    width: 50px;
    height: 50px;
  }

  @include responsive767 {
    width: 29px;
    height: 25px;
    border-radius: 10px;
  }

  @include after {
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='27' height='34' viewBox='0 0 27 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M14.5544 33.5095C13.8918 33.5095 13.2292 33.5095 12.5675 33.5095C12.4759 33.4871 12.386 33.4594 12.2927 33.4448C11.809 33.3679 11.3177 33.323 10.8408 33.2151C7.87464 32.5432 5.39467 31.0423 3.50024 28.6424C1.04167 25.5266 0.10858 21.9652 0.809683 18.0437C1.44059 14.516 3.2828 11.7198 6.18052 9.63766C8.94898 7.64885 10.5532 4.96053 10.9573 1.55113C11.0874 0.450928 11.702 0.132268 12.6608 0.663368C14.5706 1.72125 16.1304 3.16515 17.3074 5.01148C18.9245 7.54694 19.6307 10.3208 19.3714 13.3346C19.3611 13.4547 19.3696 13.5756 19.3696 13.7543C20.081 12.9875 20.6238 12.1835 21.0877 11.3199C21.4618 10.6239 22.1843 10.5168 22.7305 11.0859C26.0297 14.5186 27.324 18.6128 26.2471 23.2615C25.0247 28.5371 21.6493 31.8351 16.4377 33.1857C15.8239 33.3429 15.1836 33.4033 14.5544 33.5095Z' fill='white'/%3e%3c/svg%3e ");

    @include responsive1199 {
      background-size: 20px;
    }

    @include responsive767 {
      background-size: 10px;
    }
  }

  @include before {
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(133.28deg, #ff6b88 9.43%, #f3355a 88.11%);
  }
}

.simple-section {
  padding: 30px 0 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: $colorGrayDark;

  @include responsive767 {
    font-size: 16px;
    line-height: 24px;
  }

  .caption {
    color: $colorBlack;
  }

  .section-title {
    p {
      max-width: 100%;
    }

    .btn {
      margin: 0;
    }
  }

  .btn {
    max-width: 270px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: flex;
  }

  &--left {
    text-align: left;

    .btn {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.tags-list {
  display: none;
}

.sort-blocks-mobile {
  width: 100%;
  display: none;
  align-items: center;
  gap: 17px;

  @include responsive1199 {
    position: fixed;
    display: flex;
    bottom: -100%;
    left: 10px;
    width: calc(100% - 20px);
    height: auto;
    max-height: 100vh;
    transition: all 0.3s;
    overflow: auto;
    flex-direction: column;
    gap: 6px;
    background-color: $colorWhite;
    z-index: 9;
    padding: 31px 20px;
    border-radius: 32px;
  }

  &.opened {
    bottom: 10px;
  }
}

.sort-block {
  font-size: 16px;
  line-height: 160%;
  position: relative;
  z-index: 3;
  display: flex;
  gap: 17px;

  @include responsive639 {
    font-size: 14px;
  }

  &.opened {
    .sort-block__sort::before {
      transform: scale(1, -1);
    }
  }
}

.sort-block__sort {
  position: relative;
  padding-right: 30px;
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  display: flex;
  align-items: center;
  gap: 13px;
  padding: 16px 20px;
  border: solid 1px #d0d0d0;
  border-radius: 20px;

  @include responsive1439 {
    font-size: 16px;
    line-height: 24px;
    padding: 14px 16px;
  }

  span {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: $colorGrayDark;
  }

  .icon {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='19' viewBox='0 0 16 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M3 19L5.88675 14L0.113248 14L3 19ZM3 4L2.5 4L2.5 14.5L3 14.5L3.5 14.5L3.5 4L3 4Z' fill='%23868686'/%3e%3cpath d='M13 -9.53674e-07L10.1132 5L15.8868 5L13 -9.53674e-07ZM13 15L13.5 15L13.5 4.5L13 4.5L12.5 4.5L12.5 15L13 15Z' fill='%23868686'/%3e%3c/svg%3e ");
    background-position: center;
    background-repeat: no-repeat;
    width: 14px;
    height: 19px;
  }

  @include after {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.86603 7.5C5.48113 8.16667 4.51887 8.16667 4.13397 7.5L0.669874 1.5C0.284974 0.833333 0.7661 -8.94676e-07 1.5359 -8.27378e-07L8.4641 -2.21695e-07C9.2339 -1.54397e-07 9.71503 0.833333 9.33013 1.5L5.86603 7.5Z' fill='url(%23paint0_linear_157_2198)'/%3e%3cdefs%3e%3clinearGradient id='paint0_linear_157_2198' x1='10.1556' y1='7.32258' x2='-2.08376' y2='3.52671' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%234385FF'/%3e%3cstop offset='1' stop-color='%23132E61'/%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e ");
    background-position: center;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    right: 0;
    position: relative;
  }
}

.sort-block__title {
  display: flex;
  align-items: center;
  gap: 17px;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;

  @include responsive1439 {
    font-size: 16px;
    line-height: 24px;
    gap: 16px;
  }
}

.sort-block__list {
  display: none;
  position: absolute;
  top: calc(100% + 10px);
  right: 0;
  width: 100%;
  background-color: $colorWhite;
  border-radius: 16px;
  padding: 16px;
  width: 280px;
  border: solid 1px #d0d0d0;

  @include responsive639 {
    width: 180px;
    padding: 12px;
  }

  li {
    display: flex;
    align-items: center;

    & + li {
      margin-top: 10px;
    }
  }

  a {
    display: flex;
    align-items: center;
    gap: 13px;

    span {
      color: $colorGrayDark;
    }

    .icon {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='19' viewBox='0 0 16 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M3 19L5.88675 14L0.113248 14L3 19ZM3 4L2.5 4L2.5 14.5L3 14.5L3.5 14.5L3.5 4L3 4Z' fill='%23868686'/%3e%3cpath d='M13 -9.53674e-07L10.1132 5L15.8868 5L13 -9.53674e-07ZM13 15L13.5 15L13.5 4.5L13 4.5L12.5 4.5L12.5 15L13 15Z' fill='%23868686'/%3e%3c/svg%3e ");
      background-position: center;
      background-repeat: no-repeat;
      width: 14px;
      height: 19px;
    }

    @include hover {
      color: $colorBlue;
    }
  }
}

.info-text {
  font-weight: 500;
  font-style: italic;
  font-size: 12px;
  line-height: 14px;
  color: $colorRed;
}

.range {
  position: relative;
  top: 0;
  margin-bottom: 10px;

  .irs--flat .irs-bar {
    background-color: $colorBlue;
    height: 2px;
    border-radius: 5px;
  }

  .irs-grid-text {
    font-weight: 400;
    font-size: 11px;
    line-height: 20px;
    background-color: transparent;
    color: $colorGrayDark;
    bottom: -15px;
  }

  .irs--flat .irs-line {
    height: 2px;
    border-radius: 5px;
  }

  .irs-single {
  }

  .irs-handle.single {
    cursor: pointer;
    top: 15px;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    border: solid 1px $colorBlue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include after {
      position: relative;
      width: 16px;
      height: 16px;
      display: block;
      background: linear-gradient(107.23deg, #4385ff 8.68%, #132e61 94.02%);
      border-radius: 50%;
    }

    i {
      display: none;
    }
  }

  .irs-single {
    font-family: $fontMain;
    top: auto;
    bottom: -60px;
    font-weight: 400;
    font-size: 11px;
    line-height: 20px;
    background-color: transparent;
    color: $colorGrayDark;

    &:before {
      display: none;
    }
  }

  .irs--flat .irs-min {
    &:after {
      left: 0;
      right: auto;
    }
  }

  .irs--flat .irs-min,
  .irs--flat .irs-max {
    font-family: $fontMain;
    top: auto;
    bottom: -60px;
    font-weight: 400;
    font-size: 11px;
    line-height: 20px;
    background-color: transparent;
    color: $colorGrayDark;
    opacity: 1;
    transition: visibility 0.3s;

    @include after {
      position: absolute;
      width: 9px;
      height: 9px;
      display: block;
      background: linear-gradient(107.23deg, #4385ff 8.68%, #132e61 94.02%);
      border-radius: 50%;
      top: -18px;
      right: 0;
      z-index: 3;
      transition: visibility 0.3s;
    }
  }
}

.social-simple {
  display: flex;
  align-items: center;
  gap: 7px;

  @include responsive1199 {
    gap: 3px;
  }

  .social-simple__title {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    @include responsive1199 {
      font-size: 14px;
    }
  }

  .btn {
    @include responsive1199 {
      width: 26px;
      height: 26px;
      background-size: 15px;
      padding-top: 10px;
      padding-bottom: 10px;

      &.btn--whatsapp {
        background-size: 50%;
      }

      &.btn--telegram {
        background-size: 70%;
      }
    }
  }
}

.section-details {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: $colorGrayDark;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  padding: 0;
  position: relative;

  @include responsive1439 {
    align-items: flex-start;
    font-size: 16px;
    line-height: 24px;
  }

  @include responsive1023 {
    flex-direction: column;
    padding-top: 60px;
    margin-top: 0;
    font-size: 15px;
  }

  .picture-block {
    width: 760px;
    height: 540px;
    border-radius: 20px;
    overflow: hidden;

    img {
      object-fit: contain;
    }

    @include responsive1439 {
      width: 500px;
      height: 350px;
    }

    @include responsive1023 {
      width: 100%;
      height: auto;
      padding-top: calc(540 / 765 * 100%);
    }
  }

  .section-details__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    width: calc(100% - 760px - 90px);

    @include responsive1649 {
      width: calc(100% - 760px - 30px);
    }

    @include responsive1439 {
      width: calc(100% - 500px - 20px);
      gap: 15px;
    }

    @include responsive1023 {
      width: 100%;
      margin-top: 30px;
    }

    .product-item__controls {
      @include responsive1199 {
        width: 100%;
      }

      .hot {
        width: 116px;
        height: 100px;
        background-size: 100px;

        @include responsive1439 {
          width: 80px;
          height: 70px;
        }

        @include responsive389 {
          width: 60px;
          height: 50px;
        }

        &::after {
          background-size: 45px;

          @include responsive1439 {
            background-size: 30px;
          }

          @include responsive389 {
            background-size: 20px;
          }
        }
      }

      .date {
        font-size: 35px;

        @include responsive1439 {
          font-size: 25px;
        }

        @include responsive389 {
          font-size: 20px;
        }
      }
    }
  }

  .social-simple {
    margin-bottom: 40px;

    @include responsive1439 {
      margin-bottom: 20px;
    }
  }

  .caption {
    color: $colorBlack;
  }

  .caption--h4 {
    text-transform: uppercase;
  }

  .btn {
    max-width: 270px;
  }

  .section-details__date {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: $colorBlue;
  }

  .section-details__content {
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include responsive1023 {
      margin-top: 20px;
    }
  }

  .social-simple {
    gap: 5px;

    @include responsive1023 {
      position: absolute;
      right: 0;
      top: 10px;
      margin: 0;
    }

    .social-simple__title {
      margin-right: 10px;
    }
  }

  .section-details__tags {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    color: rgb(0, 0, 0);

    @include responsive1439 {
      font-size: 16px;
      line-height: 24px;
    }

    @include responsive1199 {
      font-size: 14px;
    }

    li {
      background-color: #f2f2f2;
      border-radius: 20px;
      padding: 14px 26px;

      @include responsive1199 {
        padding: 10px 15px;
      }
    }
  }
}
.portfolio-details,
.blog-details {
  .section-details {
    .picture-block {
      img {
        object-fit: cover;
      }
    }
  }
}

.portfolio-details .section-details {
  margin-top: 0;

  @include responsive1023 {
    padding-top: 0;
  }
}

.portfolio-images-slider {
  margin-top: 50px;

  .picture-block {
    padding-top: calc(392 / 520 * 100%);
    border-radius: 40px;
    overflow: hidden;
    @include invisLink;
  }
}

.result-search {
  padding: 30px 0;

  .caption {
    text-transform: uppercase;
    margin-bottom: 27px;

    @include responsive1023 {
      margin-bottom: 20px;
    }
  }

  ul {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    margin-top: 57px;

    @include responsive1023 {
      margin-top: 30px;
    }

    li {
      & + li {
        margin-top: 57px;

        @include responsive1023 {
          margin-top: 30px;
        }
      }
    }

    a {
      color: $colorBlue;
      text-decoration: underline;
      transition: text-decoration 0.3s;
      font-weight: 600;

      @include hover {
        text-decoration-color: transparent;
      }
    }
  }
}

.result-search__form {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1100px;
  position: relative;

  input {
    border: solid 1px #d0d0d0;
    padding: 0 70px;
    height: 56px;
    width: 100%;
    border-radius: 40px;

    @include responsive1023 {
      height: 45px;
      padding: 0 50px;
    }
  }

  .btn--search {
    width: 44px;
    height: 44px;
    min-width: 44px;
    left: 11px;
    top: 50%;
    transform: translateY(-50%);
    right: auto;
    position: absolute;
    border-radius: 50%;

    @include responsive1023 {
      height: 30px;
      width: 30px;
      min-width: 30px;
    }
  }
}

.not-page {
  background-color: #132e61;
  color: $colorWhite;
  min-height: 755px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../img/bg-grettings.png");
  background-image: image-set(
    url("../img/bg-grettings.webp") type("image/webp"),
    url("../img/bg-grettings.png") type("image/png")
  );
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;

  @include responsive1549 {
    min-height: 600px;
  }

  @include responsive1439 {
    min-height: 520px;
  }

  @include responsive1199 {
    min-height: 450px;
  }

  @include responsive1023 {
    min-height: 390px;
  }

  .not-page__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: 500;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    max-width: 415px;
    gap: 10px;

    @include responsive1439 {
      gap: 0;
    }

    @include responsive1199 {
      max-width: 320px;
    }

    @include responsive767 {
      width: 100%;
      max-width: 100%;
    }
  }

  .caption {
    text-transform: uppercase;

    &.big {
      font-size: 230px;
      line-height: 220px;

      @include responsive1439 {
        font-size: 180px;
        line-height: 160px;
      }

      @include responsive1199 {
        font-size: 160px;
        line-height: 140px;
      }
    }
  }

  .not-page__controls {
    margin-top: 40px;
    position: relative;
    z-index: 3;

    @include responsive1439 {
      margin-top: 30px;
    }

    @include responsive1023 {
      margin-top: 20px;
    }

    @include responsive767 {
      width: 100%;
      margin-bottom: -35px;
    }

    .btn {
      @include responsive767 {
        width: 100%;
        max-width: 100%;
      }
    }
  }

  .picture-block {
    position: absolute;
    left: calc(50% - 125px);
    top: 0;
    width: 1000px;
    height: 755px;
    pointer-events: none;

    @include responsive1549 {
      width: 780px;
      height: 600px;
      left: calc(50% - 65px);
    }

    @include responsive1439 {
      width: 700px;
      height: 520px;
      left: calc(50% - 75px);
    }

    @include responsive1199 {
      width: 610px;
      height: 450px;
      left: calc(50% - 75px);
    }

    @include responsive1023 {
      width: 520px;
      height: 390px;
      left: calc(50% - 55px);
    }

    @include responsive767 {
      position: relative;
      height: auto;
      width: 100%;
      padding-top: calc(313px / 420px * 100%);
      top: auto;
      left: auto;
      margin: 0 auto;
      bottom: -30px;
    }
  }
}

.thanks-block {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-align: center;

  @include responsive767 {
    font-size: 14px;
    line-height: 20px;
  }

  .thanks-block__title {
    font-weight: 500;
    font-size: 50px;
    line-height: 65px;
    text-transform: uppercase;

    @include responsive767 {
      font-size: 30px;
      line-height: 40px;
    }
  }
}
