.tags {
  padding: 20px 0;

  .info-text {
    @include responsive1199 {
      display: none;
    }
  }

  .tags__list {
    display: flex;
    flex-wrap: wrap;
    gap: 12px 10px;
    margin-top: 22px;
    position: relative;

    @include responsive1023 {
      flex-wrap: nowrap;
      overflow: auto;
      width: calc(100% + 20px);
      left: -10px;
      padding: 0 10px;
    }
  }

  .tags__item {
    a {
      background-color: #f2f2f2;
      font-weight: 400;
      font-size: 14px;
      line-height: 28px;
      padding: 8px 18px;
      border-radius: 16px;
      display: block;
      width: 100%;
      text-align: center;
      transition: all 0.3s;
      position: relative;
      z-index: 2;
      overflow: hidden;

      @include before {
        width: 100%;
        height: 100%;
        background: linear-gradient(107.23deg, #4385ff 8.68%, #132e61 94.02%);
        top: 0;
        left: 0;
        opacity: 0;
        z-index: -1;
      }

      @include responsive1023 {
        white-space: nowrap;
      }

      @include hover {
        color: $colorWhite;

        &::before {
          opacity: 1;
        }
      }
    }
  }
}
