.form-section {
  overflow: hidden;

  .form-section__inner {
    background-image: url("../img/bg-form.png");
    background-image: image-set(
      url("../img/bg-form.webp") type("image/webp"),
      url("../img/bg-form.png") type("image/png")
    );
    background-size: cover;
    width: 100%;
    color: $colorWhite;
    position: relative;
    z-index: 3;
  }

  .form-section__content {
    padding: 70px 0 120px;

    @include responsive1549 {
      padding: 50px 0 90px;
    }

    @include responsive1199 {
      padding: 30px 0;
    }
  }

  .form-section__left {
    width: 50%;

    @include responsive1023 {
      width: 100%;
    }
  }

  .caption {
    text-transform: uppercase;
  }

  .form-section__text {
    max-width: 610px;
  }

  .input-item {
    position: relative;

    input {
      border: solid 1px $colorWhite;
      border-radius: 18px;
      font-weight: 400;
      font-size: 16px;
      line-height: 100%;
      text-transform: none;
      height: 55px;
      padding: 0 70px 0 27px;

      &::placeholder {
        text-transform: none;
        color: $colorWhite-a7;
        opacity: 1;
      }
    }

    textarea {
      background-color: transparent;
      color: $colorWhite;
      border: solid 1px $colorWhite;
      border-radius: 18px;
      font-weight: 400;
      font-size: 16px;
      line-height: 100%;
      text-transform: none;
      height: 107px;
      padding: 20px 27px;

      &::placeholder {
        text-transform: none;
        color: $colorWhite-a7;
        opacity: 1;
      }
    }

    .icon {
      position: absolute;
      right: 20px;
      top: 17px;
      width: 20px;
      height: 20px;
      background-position: center;
      background-repeat: no-repeat;

      &.icon--fio {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='21' viewBox='0 0 18 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M8.78627 20.9602C6.61627 20.9602 4.43627 20.9602 2.26627 20.9602C0.896268 20.9602 -0.143732 19.8202 0.0162676 18.4602C0.0962676 17.7502 0.376268 17.0902 0.716268 16.4602C1.79627 14.4402 3.48627 13.1302 5.64627 12.4602C8.41627 11.6102 11.1363 11.8002 13.6963 13.2002C15.6663 14.2802 16.9563 15.9402 17.5263 18.1302C17.9063 19.5702 16.8563 20.9402 15.3563 20.9502C13.2363 20.9602 11.1163 20.9502 8.99627 20.9502C8.92627 20.9602 8.85627 20.9602 8.78627 20.9602Z' fill='white'/%3e%3cpath d='M3.55667 5.24003C3.54667 2.37003 5.89667 0.0100319 8.76667 3.19318e-05C11.6967 -0.00996807 14.0267 2.33003 14.0367 5.27003C14.0467 8.11003 11.6767 10.48 8.81667 10.48C5.90667 10.48 3.56667 8.14003 3.55667 5.24003Z' fill='white'/%3e%3c/svg%3e ");
      }

      &.icon--phone {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M14.336 19C13.8719 18.8999 13.4018 18.823 12.9456 18.6956C12.0045 18.4335 11.1289 18.0124 10.2857 17.5264C7.8953 16.1478 5.85206 14.3532 4.03945 12.2885C2.86353 10.9488 1.8361 9.50577 1.04349 7.90526C0.555768 6.91993 0.171528 5.89801 0.0401997 4.79919C-0.0424026 4.10942 -0.0196638 3.42382 0.319562 2.79287C0.426296 2.59414 0.565049 2.40421 0.722364 2.24254C1.27459 1.67413 1.84631 1.12519 2.40086 0.559101C3.1698 -0.226564 4.36382 -0.145496 5.08961 0.560491C5.95508 1.40221 6.80616 2.25829 7.65399 3.11761C8.40066 3.87502 8.4067 5.00951 7.66513 5.70021C7.50689 5.84798 7.30363 5.96472 7.1013 6.0444C6.58295 6.24823 6.17411 6.5586 5.94905 7.07975C5.79869 7.42672 5.77827 7.78111 5.87665 8.14754C6.15277 9.17918 6.7398 10.0279 7.44517 10.8043C8.17931 11.6122 9.01044 12.301 9.99934 12.7809C10.4351 12.9926 10.8834 13.1802 11.3859 13.1149C12.0676 13.026 12.5865 12.698 12.8561 12.049C13.0231 11.6474 13.2194 11.28 13.6032 11.04C14.3211 10.5916 15.2061 10.6732 15.8395 11.2893C16.7319 12.1565 17.6145 13.0339 18.4814 13.9261C19.1919 14.6571 19.1654 15.8231 18.4447 16.5545C17.8758 17.1322 17.2971 17.7006 16.724 18.2746C16.3179 18.6813 15.8186 18.8874 15.2567 18.9634C15.2093 18.9699 15.1634 18.9866 15.117 18.9986C14.8566 19 14.5963 19 14.336 19Z' fill='white'/%3e%3c/svg%3e ");
      }

      &.icon--mail {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='19' height='16' viewBox='0 0 19 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M9.50635 0C11.7021 0 13.8978 0 16.0935 0C17.2104 0 18.0862 0.4804 18.6573 1.52127C18.8731 1.9216 18.9873 2.34862 19 2.81568C19.0127 3.18932 19.0127 3.56297 19 3.93661C19 4.01668 18.9238 4.13678 18.8604 4.19016C15.9285 6.07173 12.9967 7.95329 10.0648 9.83486C9.68403 10.0884 9.32866 10.0884 8.9479 9.83486C6.02872 7.95329 3.09686 6.07173 0.177689 4.2035C0.0507682 4.13678 8.8653e-10 4.05671 8.8653e-10 3.89658C0.0126921 3.44287 -0.0253841 2.96247 0.0380762 2.5221C0.279225 0.98749 1.40882 0 2.90648 0C5.1022 0 7.31062 0 9.50635 0Z' fill='white'/%3e%3cpath d='M0.012692 6.40527C0.507682 6.72554 0.964596 7.03246 1.42151 7.32604C3.55377 8.71386 5.68604 10.1284 7.84369 11.4895C8.9352 12.1834 10.0902 12.1834 11.1817 11.4762C13.7074 9.86149 16.2204 8.20677 18.7335 6.56541C18.8096 6.51203 18.8858 6.472 18.9746 6.40527C18.9873 6.48534 19 6.52537 19 6.57875C19 8.71386 19.0127 10.849 19 12.9974C18.9873 14.492 18.0862 15.6263 16.7154 15.9199C16.4997 15.9599 16.2839 15.9732 16.0681 15.9732C11.6894 15.9732 7.31062 15.9732 2.93186 15.9732C1.40882 15.9732 0.291917 14.9991 0.0380761 13.4511C0.012692 13.3177 0 13.1442 0 12.9841C0 10.8623 0 8.74055 0 6.61878C0 6.56541 0.012692 6.51203 0.012692 6.40527Z' fill='white'/%3e%3c/svg%3e ");
      }
    }
  }

  .form-section__form {
    display: flex;
    flex-direction: column;
    gap: 11px;
    margin-top: 12px;
    max-width: 453px;
    width: 100%;

    @include responsive767 {
      max-width: 100%;
    }
  }

  .radio-block {
  }

  .btn {
    max-width: 270px;
    margin-top: 9px;

    @include responsive479 {
      max-width: 100%;
      width: 100%;
    }
  }

  .picture-block {
    position: absolute;
    left: calc(50% - 250px);
    top: -90px;
    width: 1116px;
    height: 917px;
    pointer-events: none;

    @include responsive1649 {
      left: calc(50% - 200px);
      top: -70px;
      width: 1006px;
      height: 797px;
    }

    @include responsive1439 {
      left: calc(50% - 150px);
      top: -60px;
      width: 876px;
      height: 727px;
    }

    @include responsive1199 {
      left: calc(50% - 50px);
      top: 40px;
      width: 616px;
      height: 507px;
    }

    @include responsive1023 {
      left: calc(50% - 0px);
      top: 270px;
      width: 410px;
      height: 340px;
    }

    @include responsive767 {
      display: none;
    }
  }
}
