.breadcrumbs {
  padding: 30px 0;
  border-top: solid 1px #c0c0c0;

  @include responsive767 {
    padding: 20px 0;
  }
}

.breadcrumbs__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 12.5px 17px;

  @include responsive767 {
    @include after {
      content: "...";
      font-weight: 500;
      font-size: 14px;
      line-height: 28px;
      position: relative;
      width: auto;
      height: auto;
      order: 2;
      margin-left: 17.5px;
    }
  }
}

.breadcrumbs__item {
  position: relative;
  padding-left: 17px;

  @include responsive767 {
    display: none;
  }

  &:first-child {
    padding-left: 0;

    @include responsive767 {
      display: block;
      order: 1;
    }

    .breadcrumbs__link {
      &::before {
        display: none;

        @include responsive767 {
          display: block;
          right: -17.5px;
          left: auto;
        }
      }
    }
  }

  &:last-child {
    @include responsive767 {
      display: block;
      order: 3;
    }
  }
}

.breadcrumbs__link {
  position: relative;

  @include before {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: $colorBlue;
    top: 50%;
    left: -17.5px;
    transform: translateY(-50%);
  }
}

a.breadcrumbs__link {
  @include text-decoration-hover($colorBlack);
}

span.breadcrumbs__link {
  color: $colorBlue;
}
