h1,
h2,
h3,
h4,
h5,
h6,
.caption {
  font-family: $fontMain;
  font-weight: 600;
}

h1,
.caption--h1 {
  font-size: 75px;
  line-height: 90px;

  @include responsive1549 {
    font-size: 70px;
    line-height: 85px;
  }

  @include responsive1439 {
    font-size: 60px;
    line-height: 80px;
  }

  @include responsive1199 {
    font-size: 50px;
    line-height: 60px;
  }

  @include responsive1023 {
    font-size: 42px;
    line-height: 44px;
  }

  @include responsive767 {
    font-size: 42px;
    line-height: 44px;
  }

  @include responsive389 {
    font-size: 34px;
  }
}

h2,
.caption--h2 {
  font-size: 50px;
  line-height: 60px;

  @include responsive1549 {
    font-size: 40px;
    line-height: 50px;
  }

  @include responsive1199 {
    font-size: 35px;
    line-height: 45px;
  }

  @include responsive389 {
    font-size: 30px;
    line-height: 40px;
  }
}

h3,
.caption--h3 {
  font-size: 40px;
  line-height: 53px;

  @include responsive1549 {
    font-size: 35px;
    line-height: 45px;
  }

  @include responsive1199 {
    font-size: 30px;
    line-height: 40px;
  }

  @include responsive767 {
    font-size: 20px;
    line-height: 25px;
  }
}

h4,
.caption--h4 {
  font-size: 30px;
  line-height: 120%;

  @include responsive1549 {
    font-size: 28px;
  }

  @include responsive767 {
    font-size: 22px;
  }

  @include responsive479 {
    font-size: 18px;
  }

  @include responsive389 {
    font-size: 15px;
  }
}
