.modal {
  font-family: $fontMain;
  display: none;
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  color: $colorBlack;
}

.modal.is-open {
  display: flex;
  position: fixed;
  z-index: 20;
}

.modal__container {
  overflow: auto;
  background: transparent;
  padding: 0;
  margin: 0;
  width: 100%;
  padding: 50px 0;
  position: relative;
  margin: auto;
  max-width: 600px;

  @include responsive1199 {
    max-width: 730px;
  }

  @include responsive767 {
    max-width: calc(100% - 20px);
  }
}

.modal__content {
  padding: 0;
  margin: 0;
  position: relative;
}

.modal__inner {
  position: relative;
}

.modal__close {
  cursor: pointer;
  transition: all 0.3s;
  position: absolute;
  right: 0;
  top: -10px;
  display: flex;
  z-index: 10;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  align-items: center;
  background-position: center;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='22' height='26' viewBox='0 0 22 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M9.108 13.166L0.368 0.837998H4.232L11.04 10.544L17.802 0.837998H21.712L12.926 13.166L21.712 26H17.802L11.04 15.926L4.232 26H0.368L9.108 13.166Z' fill='%231753C3'/%3e%3c/svg%3e ");
  background-repeat: no-repeat;
  width: 56px;
  height: 56px;

  @include responsive1199 {
    width: 30px;
    height: 30px;
    top: 0;
  }

  @include responsive767 {
    width: 20px;
    height: 20px;
    top: 20px;
    right: 10px;
  }

  svg {
    pointer-events: none;
  }

  &:hover {
    opacity: 0.75;
  }
}

.modal__content {
  border-radius: 9px;

  .scroll {
    &::-webkit-scrollbar {
      width: 5px;
      border-radius: 10px;
      margin-right: 12px;
    }

    &::-webkit-scrollbar-track {
      background: #d9d9d9;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background: $colorBlack;
      border-radius: 10px;
    }
  }
}

.modal__overlay {
  background-color: #edeadf;
  transition: all 0.3s;
  background-color: $colorBlack-a5;
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: inherit;
}

#popup-call {
}

.popup-call {
  color: $colorWhite;
  background-image: url("../../../img/bg-popup.png");
  background-image: image-set(
    url("../../../img/bg-popup.webp") type("image/webp"),
    url("../../../img/bg-popup.png") type("image/png")
  );
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 40px;
  overflow: hidden;
  padding: 80px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  min-height: 550px;

  @include responsive1199 {
    padding: 40px 20px;
    min-height: 320px;
  }

  .input-item {
    position: relative;
  }

  .form-section__form {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .radio-block {
    margin: 12px 0;
  }

  .caption {
    text-transform: uppercase;
  }

  .btn {
    max-width: 270px;
  }
}
